.navbar {
  background: linear-gradient(to bottom, #000000, #141414);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}


.navbar h2 {
  color: #e50914;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}


.links {
  display: flex;
  align-items: center;
  gap: 20px;
}


.links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}


.links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #e50914;
  left: 0;
  bottom: -4px;
  transition: 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

.links a:hover {
  color: #e50914;
}


.logout {
  background: #e50914;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.logout:hover {
  background: #b20710;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }
}
